header {
    position: absolute;
    width: 100%;
}
.header {
    padding: 0px 24px 0 24px;
    margin-top: 16px;
}

.navigation{
    ul {
        display: inline-flex;
        list-style: none;
    }
    li {
        & span {
            padding-left: 16px;
        }
        padding: 16px;
        &:hover {
            & ::before {
                width: 100%;
            }
        }
    }
}

.about:hover{
    & .animate {
        animation: tada 1s linear ;
    }
}

.portfolio {
    overflow: hidden;

    & svg {
        position: relative;
        overflow: hidden;
        display: inline-block;
        font-size: inherit;
        vertical-align: bottom;
        transform: rotate(44deg);
        position: relative;
        right: 0;
        transition: transform 0.4s;
        transition-timing-function: linear;
    }

}
.portfolio:hover {
    & .animate {
        transform: translate3d(200px, 0, 0);
    }
    .overlay--portfolio {
        &::after {
            transform: translate3d(100%,0,0);
        }
    }
}

.overlay {
	outline: none;
	text-decoration: none;
	position: relative;
	line-height: 1;
    display: inline-block;
    &--portfolio {
        text-transform: uppercase;
        overflow: hidden;
        line-height: 0.75;

        &::after {
            content: '';
            position: absolute;
            height: 4px;
            width: 100%;
            top: 50%;
            margin-top: -2px;
            right: 0;
            background: #F9F9F9;
            transform: translate3d(-100%,0,0);
            transition: transform 0.4s;
            transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        } 
    }
    &::before {
        content: attr(data-letters);
        position: absolute;
        z-index: 2;
        overflow: hidden;
        color: #424242;
        white-space: nowrap;
        width: 0%;
        transition: width 0.3s 0.1s;
    }
    
}

.skills:hover {
    & .animate {
        animation: horizontal 3s infinite linear;
    }
}
.contact:hover{
    & .animate {
        animation: rotate 1s infinite linear;       
    }
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

@keyframes tada {
    0% {transform: scale(1);} 
    10%, 20% {transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
    100% {transform: scale(1) rotate(0);} 
} 

@keyframes horizontal {
    0% {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
    6% {
        -webkit-transform: translate(5px,0);
        transform: translate(5px,0);
    }
    12% {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
    18% {
        -webkit-transform: translate(5px,0);
        transform: translate(5px,0);
    }
    24% {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
    30% {
        -webkit-transform: translate(5px,0);
        transform: translate(5px,0);
    }
    36%, 100% {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
}