$theme-pallete: (
    50 : #e4e5e7,
    100 : #bbbec2,
    200 : #8d939a,
    300 : #5f6872,
    400 : #3d4753,
    500 : #1b2735,
    600 : #182330,
    700 : #141d28,
    800 : #101722,
    900 : #080e16,
    A100 : #588fff,
    A200 : #256dff,
    A400 : #0050f1,
    A700 : #0048d7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);