<div class="about" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="30">
        <h1 class="mat-title">Braydon Harris</h1><br>
        <p>Senior Software Engineer with a focus in Javascript, Music Enthusiast, and all around web addict. I like to focus on clean design, well written code and taking the plunge into fun challenging projects!</p>
        <div>
            <ul>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-linkedin-in"></i></li>
                <li><i class="fab fa-youtube"></i></li>
                <li><i class="far fa-file-pdf"></i></li>
            </ul>
                
                
               
                
        </div>
    </div>
</div>
