<nav class="drawer-nav">
    <a href="/" class="logo"><img src="/assets/images/logo2.png" alt="" srcset=""></a>
    <ul class="drawer-menu">
        <li><a href="/"><i class="fas fa-glasses" aria-label="Portfolio"></i> <span class="drawer-menu--item">Portfolio</span></a></li>
        <li><a href="/about"><i class="fas fa-user-astronaut"></i> <span class="drawer-menu--item">About</span></a></li>
        <li><a href=""><i class="fas fa-compact-disc"></i> <span class="drawer-menu--item">Contact</span></a></li>
    </ul>
</nav>
<a class="drawer-hamburger" onclick="toggle()">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</a>