html {
    min-height: 100%;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    font-family: sans-serif;
}

p,
li,
a {
    font-size: 14px;
    color: #fff;
}

.logo {
    display: inline-flex;
    justify-content: center;
    &_svg{
        width: 100%;
    }
}

.container {
    max-width: 1250px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.thumbnail {
    width: 100%;
}

.grid {
    column-count: 3;
    column-gap: 0;
}

.item {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.masonry{
    &-layout {
        column-count: 3;
        column-gap: 0;
        &-panel {
            break-inside: avoid;
        }
    }
}

/* Nav styles */
.drawer {
    &-hamburger {
        position: fixed;
        transition: 0.5s;
        z-index: 1;

        & .line {
            width: 40px;
            height: 5px;
            background-color: rgba(220, 220, 220, 0.5);
            display: block;
            margin: 8px auto;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            cursor: pointer;
        }

        &.is-active .line:nth-child(2) {
            opacity: 0;
        }

        &.is-active .line:nth-child(1) {
            -webkit-transform: translateY(13px) rotate(45deg);
            -ms-transform: translateY(13px) rotate(45deg);
            -o-transform: translateY(13px) rotate(45deg);
            transform: translateY(13px) rotate(45deg);
        }

        &.is-active .line:nth-child(3) {
            -webkit-transform: translateY(-13px) rotate(-45deg);
            -ms-transform: translateY(-13px) rotate(-45deg);
            -o-transform: translateY(-13px) rotate(-45deg);
            transform: translateY(-13px) rotate(-45deg);
        }
    }

    &-nav {
        background: #212121;
        width: 50px;
        height: auto;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        /*Animate content area to the right*/
        transition: 0.5s;
        overflow: hidden;
        z-index: 1;

        & i {
            width: 50px;
            font-size: 24px;
            line-height: 48px;
            text-align: center;
        }
        /*Adding delay to link animation - in multiples of .08s*/
        & li {
            &:nth-child(1) span {
                transition-delay: 0.08s;
            }
            &:nth-child(2) span {
                transition-delay: 0.16s;
            }
            &:nth-child(3) span {
                transition-delay: 0.24s;
            }
            &:nth-child(4) span {
                transition-delay: 0.32s;
            }
            &:nth-child(5) span {
                transition-delay: 0.40s;
            }
            &:nth-child(6) span {
                transition-delay: 0.48s;
            }
        }
    }

    &-menu {
        color: #fff;
        padding: 0;
        width: 200px;
        margin-top: -10px;

        & li {
            list-style-type: none;
        }

        & a {
            color: white;
            text-decoration: none;
        }

        &--item {
            opacity: 1;
            transform: translateX(80px);
            transition: all 0.4s;
            display: inline-block;

            /*Animate links from right to left + fade in effect*/
            &.is-transition {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}

@import 'spacings.scss';
@import 'stars.scss';

@media screen and (max-width: 960px){
    .masonry{
        &-layout {
            column-count: 2;
        }
    }
}

@media screen and (max-width: 690px){
    .masonry{
        &-layout {
            column-count: 1;
        }
    }
}