<div class="skewedBoxLeft"></div>
<div class="contact content">
    <h3 class="mat-display-2 text--center caps">Send Transmission</h3>
    <div class="container contact" fxLayout="row" fxLayoutAlign="center start">
        <div fxFlex="20" class="">
            <i id="earth" class="fas fa-globe-americas"></i>
            <div id="satellite-orbit">
                <div (click)="shoot()">
                    <i id="satellite" class="fas fa-satellite" ></i>
                </div>
            </div>
        </div>
        <div fxFlex>
            <div class="contact-wrapper">
                <ul>
                    <li class="margin-bottom--15"><i class="far fa-envelope"></i> <a href="mailto:braydonharris@gmail.com">braydonharris@gmail.com</a></li>
                    <li class="margin-bottom--15"><i class="fas fa-mobile-alt"></i> <a href="tel:+(805)419-3037">(805)419-3037</a></li>
                    <li class="margin-bottom--15"><i class="fab fa-instagram"></i> <a href="//instagram.com/bcreature">Instagram</a></li>
                    <li class="margin-bottom--15"><i class="fab fa-linkedin-in"></i> <a href="//linkedin.com/braydonharris">LinkedIn</a></li>
                    <li class="margin-bottom--15"><i class="fab fa-youtube"></i> <a href="//youtube.com/braydonharris">YouTube</a> </li>
                    <li class="margin-bottom--15"><i class="far fa-file-pdf"></i> <a href="#">Resume</a></li>
                </ul>
            </div>           
        </div>
    </div>
</div>