<div class="skewedBoxRight"></div>
<div class="content">
    <div class="portfolio container" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex>
            <div>
                <button mat-flat-button color="primary" type="button" data-filter="all" class="margin-right--10">All</button>
                <button mat-flat-button color="primary" type="button" data-filter=".app" class="margin-right--10">App</button>
                <button mat-flat-button color="primary" type="button" data-filter=".card" class="margin-right--10">Card</button>
                <button mat-flat-button color="primary" type="button" data-filter=".logo" class="margin-right--10">Logo</button>
            </div>
            <div id="portfoliolist">
                <div class="target">
                    <div class="mix portfolio-item app">
                        <div class="portfolio-wrapper">
                            <img src="assets/images/ats.png" alt="" srcset="">
                            <div class="label">
                                <div class="label-text">
                                  <a class="text-title">Test Document</a> 
                                  <span class="text-category">App</span>
                                </div>
                                <div class="label-bg"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item card">
                        <div class="portfolio-wrapper">
                            <img src="assets/images/ats.png" alt="" srcset="">
                            <div class="label">
                                <div class="label-text">
                                  <a class="text-title">Test Document</a> 
                                  <span class="text-category">App</span>
                                </div>
                                <div class="label-bg"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item card">
                        <div class="portfolio-wrapper">
                            <img src="assets/images/ats.png" alt="" srcset="">
                            <div class="label">
                                <div class="label-text">
                                  <a class="text-title">Test Document</a> 
                                  <span class="text-category">App</span>
                                </div>
                                <div class="label-bg"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item logo">
                        <div class="portfolio-wrapper">
                            <img src="assets/images/ats.png" alt="" srcset="">
                            <div class="label">
                                <div class="label-text">
                                  <a class="text-title">Test Document</a> 
                                  <span class="text-category">App</span>
                                </div>
                                <div class="label-bg"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="mix portfolio-item logo">
                      <div class="portfolio-wrapper">
                          <img src="assets/images/ats.png" alt="" srcset="">
                          <div class="label">
                              <div class="label-text">
                                <a class="text-title">Test Document</a> 
                                <span class="text-category">App</span>
                              </div>
                              <div class="label-bg"> </div>
                          </div>
                      </div>
                  </div>
                  <div class="mix portfolio-item logo">
                    <div class="portfolio-wrapper">
                        <img src="assets/images/ats.png" alt="" srcset="">
                        <div class="label">
                            <div class="label-text">
                              <a class="text-title">Test Document</a> 
                              <span class="text-category">App</span>
                            </div>
                            <div class="label-bg"> </div>
                        </div>
                    </div>
                </div>

                </div>

            </div>

        </div>
    </div>
</div>
